@media only screen and (max-width: 600px) {
    #sTbl {
        width: 1000px;
    }
}
.text-right{
    text-align: right !important;
}
.form-label{
    font-weight: 600;
}
.form-control{
    border-radius: 0;
    border-color: #dee2e6;
}
.btn{
    border-radius: 0;
}
.req{
    font-weight: 700;
    color: red;
}
.table.dataTable.table-striped>tbody>tr.odd{
    background-color: #92ddb340 !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: transparent !important;
    border-radius: 0;
    border: 1px solid #00bdaa;
}
.form-control:disabled, .form-control[readonly]{
    background-color: transparent !important;
}
.table>:not(:first-child) {
    border-top: 1.2px solid currentColor;
}